.content1 {
    background-color: #12232E;
    position: relative;
}
.content1 h1 {
    position: relative;
    left:40px;
    bottom:20px;
    color:white;
    margin:0;
    padding:0
}
.content1 p {
    position: relative;
    left:40px;
    bottom:20px;
    margin:0;
    padding:0;
    color:white
}
